language: python
python:
- '2.7'
- '3.6'
branches:
  except:
    - /^(?i:deploy)-.*$/
install:
- pip install -e .[test]
- pip install -e .
script: py.test --cov=. --cov-report term-missing
env:
  global:
  - CI=true
  matrix:
  - TEST_DOC=true
notifications:
  email: false
  slack:
    rooms:
    - secure: R8rDp7cXw0h40KKgUSg/VlZsf8y5FkqzcR06HpgN/OCOmtp1tum+zsmO3kb1yjlmYcxsW3AqtZBvOVmKsTeHfAJgt9uKvoW770kGXRPnCpqpJ6eCs47sOTNrwyUJIOwyFbZKFicgeFygIjnU5sL7NWMC8ZE/bGWMXjpbzx4jXYgwQrSbY5kIoH+aZXg4UyVczX6vv/7ItE4VhxPMMI+eRC/sqK3A/fbRvDnwyWnwRfNnQhfG5bCMFgF1TEKsHBt3SZjPTqr1WGn8B8loVLOw1LVpmBWBNOy0hUiSGq5ZZ8ZNOvJa3Nuno3+6TfmB0r/jmg2CgARdLkGhjtVbhsRIpT4SbEppo66LEUFhhuWmi9Y0G2sbV2HjKFUw0cCX7zezH/d8h2BeNyfSZ0gYKC1OWnnlY8d+mcVZLmd3V46YUM/rplVZMlE0jxPrF6aS6ePtDh694tgLEHBgSExDzqNMeACYjM674X6rKoOcX34pHu3MegnA8s7TUB1d4RexS2IsHB4cPurR4wcdAKIAqpFO3u07Ab0TxV0YuJuiwS2r3cckFsf107T7uT8TPRxfUv57Qncdd2XomS6+VsE6TIfyfgDnkoIoADUG+625V1EXiYnsUUCTrcdkr2HkGXBRxqY8B7t76tEe6IryoG4yl6uiOG3afqaOJjKedHEvf4K2+Sc=
    on_success: never
    on_failure: never
    template:
    - Build <%{build_url}|#%{build_number}> (<%{compare_url}|%{commit}>) of %{repository_slug}@%{branch}%{result}
deploy:
  provider: pypi
  user: Avalara
  password:
    secure: H4MQ6af8IdGleXgbvItT8Od708LR5nVeFS2KSk4xVC89NPXpfkWsBHMTZ/DgdaIHsoRAIzmFU+wwaz1p7gmTcoH0S/EbG+kBNlSrsgzkvntFQdQnDolkTozRkUUhMeS4MxwoSb/hrSByJcgp2rDhAcTAw22SJQ6zDArhPnTUWnWxkq1xmCHKi8r835iQcJu5jIYV+ePhrsc7v9MbHCj148NRjyfLpuSsJTF4vmD551dbvGjR0x6hxU06DZN++SQfNX3EkolRzuvemeAleWWlK54oI+OuQPLmtNlehPX1IkqfCCDC9Txvcl6nyDNATumnMvt2xtuAHyCYiLAUKTYYwtsYPOzwTDcEcR6mgNeN6KvPCLekngX25sNx4wBAKnKwT0L+2Uf9tH5rQntpw4OA8LVfGQZrxTnvn96KZ36Ga1siFu02p8HH2EykpZd7pfiamCrrRGVKE8Ttamm0BqKK2+2q01Eq2c5md8YkS3UE3K/3Cffpv1gJtWH1p6rM5I+KLN3J4WMxU3TVmRKQJho6y095Hj2DlHFAuiF/N8k266P7lnGKLmmj8q1o1HPanT/mDokY+0D1sTQf7It4HGhcLzObDp8PvOHncBBWH/tRdq3dKxVjnY6q3KVcPwRqUhOlVSUagW1tOYCk49sEbuE93/FyYqILHLypAqckVmrEJKY=
  on:
    branch: master
    python: 3.6
